.contact__form__main {
    width: 100vw;
    /* height: 100vh; */
    /* margin-top: 5rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }
 .contact__flex {
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .contact__cards {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: 4rem 2rem 2rem;
 }
 
 .contact__card {
    min-width: 290px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
    padding: 1rem;
    gap: 1rem;
    border-radius: 10px;
    cursor: pointer;
    background-color: #f5dddf;
    transition: all 0.3 ease-in-out;
    text-align: center;
    overflow: hidden;
 }
 .contact__card__icon {
    width: 40px;
    height: 40px;
    margin: 0 0.7rem;
 }
 .contact__card p {
    font-weight: 500;
 }
 .contact__card a {
    text-decoration: none;
    font-weight: 500;
 }
 
 .contact__card:hover {
    box-shadow: 0 0 25px #fef4f5;
 }
 
 @media screen and (max-width: 450px) {
    .contact__form__main {
       padding: 1rem;
    }
    .contact__card a {
       width: 100%;
       font-size: 1rem;
    }
    /* .contact__card p {
       text-align: center;
    } */
 }
 @media screen and (max-width: 450px) {
    .contact__cards {
       width: 100%;
    }
 }
 
 .contact__cards .contact__card:last-child {
    background-color: #f2f7fb;
 }
 .contact__cards .contact__card:last-child:hover {
    box-shadow: 0 0 25px #f2f7fb;
 }
 
 .contact__form {
    width: 60%;
    flex-direction: column;
    margin: 1rem 2rem;
 }
 
 .contact__form div {
    width: 100%;
    margin: 0.75rem 0;
    border-radius: 10px;
    cursor: pointer;
    background-color: white;
    transition: all 0.3s ease-in-out;
    /* box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset; */
 }
 
 .contact__form .input,
 .textarea {
    width: 100%;
    padding: 0.95rem;
    border: none;
    border-radius: 7px;
 
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    color: #eb6b40;
    outline: none;
 }
 .contact__form textarea {
    height: 270px;
 }
 .contact__form:hover {
    /* box-shadow: 0 0 25px #f2f7fb; */
 }
 
 /* .contact__form button {
    padding: 1rem 2rem;
    border-radius: 10px;
    border: none; */
    /* background-color: #eb6b40; */
    /* font-weight: 500;
    color: black;
    outline: none;
    margin: 2rem 0 0 0;
    font-family: Arial, Helvetica, sans-serif;
    transition: cubic-bezier(0.55, 0.085, 0.68, 0.53);
    cursor: pointer; */
    /* transition: all 0.5 ease; */
 /* } */
 /* .contact__form button:hover { */
    /* background-color: #2430af; */
    /* color: white; */
    /* scale: 0.9; */
 /* } */
 @media screen and (max-width: 768px) {
    .contact__form {
       width: 100%;
       margin: 1rem 0;
    }
    .contact__card {
       font-size: 1rem;
    }
    .contact__form input {
       font-size: 1.1rem;
    }
    .contact__form textarea {
       height: 200px;
       font-size: 1.1rem;
    }
    .contact__form button {
       font-size: 1.1rem;
    }
 }
 .head-text {
    font-size: 2.75rem;
    font-weight: 800;
    text-align: center;
    /* color: #eb6b40; */
    text-transform: capitalize;
 }
 .p-text {
    font-size: 0.8rem;
    text-align: left;
    color: gray;
    line-height: 1.5;
 }
 @media screen and (max-width: 450px) {
    .head-text {
       font-size: 2rem;
    }
    .p-text {
       font-size: 1.75rem;
       text-align: center;
    }
 }