@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
  display: none;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}
/* .flex{
  display: flex;
  align-items: center;
  justify-content: center;
} */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.parent {
  display: inline-block;
  overflow: hidden;
  position: relative;
}

.child {
  display: block;
  transition: transform 0.5s ease;
}
/* .flex{
  display: flex;
  align-items: center;
  justify-content: center;
} */
.child span{
  display: inline-block;
  /* transform: translateX(100%); */
  /* transform: scale(0.5);  */

}

.nav__dropdown__button {
  display: none;
}
@media only screen and (max-width: 480px) {
  .nav__items__container {
     display: none;
  }
  .nav__admin__button {
     display: none;
  }

  .nav__dropdown__button {
     display: flex;
  }
}

.nav__dropdown {
  position: fixed;
  z-index: 99999;
  top: 4rem;
  margin-bottom: 2rem;
}
.nav__dropdown__item {
  background-color: #18181b;
  position: relative;
  width: 100vw;
  height: 4rem;
  /* background-color: transparent; */
  z-index: 99999;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid gray;
}